{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
    
    {# bullio_article #}
    <div class="row border-0" style="
    background-color: {{ page.bg_HEX }};
    height: 30vw;">
    <!-- picture holder -->
    </div>
    <div class="row bg-transparent justify-content-center" style="
    margin-top: -20vw;"">
        <div class="col-md-8 bg-light">
            <div class="card-body">
                <h3>{{ page.title }}</h3>

            </div>
        </div>
    </div>
    <!-- end article -->
</div>

{# deck #}
    <div class="container-fluid bg-light p-5">
        <div class="row justify-content-center">
        {% for blog in blogpages %}
            <div class="col-sm-6 col-lg-3">
                <div class="card border-0"> 
                    <img class="card-img-top" alt="Card header image" 
                            src="{{ MEDIA_URL }}{{ blog.bg_image }}"
                            style="width: 100%;
                            height: 20vw;
                            object-fit: cover;"
                            >  
                    <div class="card-body">  
                        <h5 class="card-title">{{ blog.intro }}</h5>  
                        
                        <a href="{% pageurl blog %}" class="stretched-link"></a> 
                    </div>  
                </div>
            </div>
        {% endfor %}
        </div>
        
    </div>
{% endblock %}

