<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Edit directory -->
    <link rel="stylesheet" href="/abullio_static/scss/abullio.css">
    <link rel="icon" href="http://localhost/abullio_media/erminio_bullio.svg">
    <title>A Bullio</title>
  </head>
    <body>
        <!-- bullio_top_nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="#">
                <img src="http://localhost/abullio_media/erminio_bullio.svg" width="40" height="40" alt="" loading="lazy">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" style="font-size: 0.85rem;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" style="font-size: 0.85rem;" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!-- end top_nav -->
        <!--bullio_header-->
        <header class="jumbotron text-center bg-white">
            <!-- bullio_tags -->
            <img src="http://localhost/abullio_media/erminio_bullio.svg" class="rounded mx-auto d-block" alt="...">
            <!-- <p>tags --bullio_header--</p> -->
            <!-- end tags -->
            <!-- bullio_title -->
            <h2>Associazione Erminio Bullio</h2> 
            <p>claim here. Type something short</p>
            <!-- end title-->
        </header>
        <!-- end header -->



        <!-- bullio_content -->
        <div class="container-fluid bg-light border-0">
            <!-- bullio_pinned -->
            <div class="row mt-2">  
                <div class="col p-0">
                    <div class="card border-0"> 
                        <div class="container-fluid p-0">
                            <div class="row no-gutters">
                                <div class="col-md-6 col-lg-8">
                                    <img class="card-img-top" alt="Card header image" 
                                    src="https://images.unsplash.com/photo-1545935950-b7a28791ad7a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ"
                                    style="width: 100%;
                                    height: 20vw;
                                    object-fit: cover;"
                                    >
                                </div>
                                <div class="col">
                                    <div class="card-body">  
                                        <h5 class="card-title">Product Vision in Scrum</h5>  
                                        <p class="card-text">A Scrum project mostly starts with a vision of the product or system to be developed.</p> 
                                        <a href="#" class="stretched-link"></a> 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end pinned-->
            
            <!-- bullio_article -->
            <div class="row border-0" style="
            background-image: url('https://images.unsplash.com/photo-1602526428496-8346b5cf9954?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80');
            height: 30vw;
            background-size: cover;
            ">
            <!-- picture holder -->
            </div>
            <div class="row bg-transparent justify-content-center" style="
            margin-top: -20vw;
            ">
                <div class="col-md-8 bg-light">
                    <div class="card-body">
                        <h3>image goes here...</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum orci id purus interdum, vitae facilisis arcu facilisis. Pellentesque sodales a lacus sit amet mattis. Etiam vestibulum sed est in accumsan. Morbi rutrum convallis tellus vel mollis. Donec sed dapibus metus, volutpat eleifend augue. Donec sit amet leo et neque molestie ultrices eget vitae diam. Vestibulum placerat a dolor eget varius. Phasellus vel malesuada metus. Cras nec porta ligula. Aenean eget enim ac lorem tincidunt mollis. Aliquam ultricies condimentum lacinia. Fusce vitae nunc vitae justo congue tristique eu et neque.

                            Aenean condimentum purus a libero iaculis, vel pharetra neque rhoncus. Ut pellentesque posuere velit, ac condimentum turpis vulputate ac. Phasellus vel rutrum dolor. Suspendisse in iaculis nibh, non interdum lacus. Fusce quis malesuada dui, nec ultricies dui. Curabitur fermentum tristique blandit. Nullam id facilisis ipsum. Proin scelerisque lorem eget erat pharetra feugiat. Phasellus vel tortor justo. Nulla non leo ut arcu mollis feugiat. Maecenas dignissim urna id ligula sodales, nec congue dui eleifend. Quisque vel mauris et nulla placerat mattis. In placerat sem a tempor mollis.
                            
                            Vestibulum bibendum dui erat, vitae gravida lacus euismod non. Etiam in nunc porta, commodo enim ac, finibus diam. Maecenas sagittis neque nec mauris convallis fermentum. Pellentesque pretium faucibus est id convallis. Vivamus quis ligula nec nisl fermentum dapibus eu at odio. Maecenas pharetra maximus metus et volutpat. Pellentesque ac aliquet magna, non finibus ex. Suspendisse euismod mattis nulla.
                            
                            Maecenas at felis tellus. Nulla feugiat non arcu ultrices aliquam. Quisque eleifend dapibus turpis ac ullamcorper. Nam at pellentesque nisl. Nam non vestibulum erat. Curabitur ut tincidunt dui. Ut hendrerit sapien vel consequat sollicitudin. Curabitur vehicula mauris et finibus venenatis. Morbi mollis facilisis elit, non tincidunt neque laoreet fermentum. Ut commodo dictum lacus quis sollicitudin.
                            
                            Nunc iaculis urna ac nibh tristique, in imperdiet erat pellentesque. Donec luctus placerat scelerisque. Proin egestas egestas libero. Proin rhoncus, turpis sit amet iaculis blandit, lorem lacus porta dui, dignissim porta erat velit sed urna. Sed feugiat ultricies ex, ut fermentum lectus tempor at. Ut feugiat, enim quis sollicitudin imperdiet, ante arcu mollis elit, a maximus augue dui ac tellus. Pellentesque quis velit turpis. Mauris commodo tortor eu libero feugiat efficitur. Sed ut fermentum nunc. Donec consectetur odio et nunc dapibus, sit amet tempus ante laoreet. Vestibulum commodo, quam ut consectetur euismod, dolor quam varius diam, id ullamcorper orci nisi interdum mauris.  
                        </p>
                    </div>
                </div>
            </div>
            <!-- end article -->

            <!-- bullio_deck -->
            <div class="row">  
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-0"> 
                        <img class="card-img-top" alt="Card header image" 
                            src="https://images.unsplash.com/photo-1545935950-b7a28791ad7a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ"
                            style="width: 100%;
                            height: 20vw;
                            object-fit: cover;"
                            >  
                            <div class="card-body">  
                            <h5 class="card-title">Project 1</h5>  
                            <p class="card-text">An awesome project</p>  
                            <a href="#" class="stretched-link"></a> 
                            </div>  
                        </div>
                    </div>  
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-light">  
                        <img class="card-img-top" alt="Card header image" src="https://images.unsplash.com/photo-1560052859-7deb492b0baf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ"
                        style="width: 100%;
                        height: 20vw;
                        object-fit: cover;">  
                        <div class="card-body">  
                            <h5 class="card-title">Project 2</h5>  
                            <p class="card-text">An awesome project</p>  
                            <a href="#" class="stretched-link"></a> 
                        </div>  
                    </div>
                </div>            
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-light">  
                        <img class="card-img-top" alt="Card header image" src="http://localhost/abullio_media/knowledge-alliance.png"
                        style="width: 100%;
                        height: 20vw;
                        object-fit: cover;">  
                        <div class="card-body">  
                            <h5 class="card-title">Project 3</h5>  
                            <p class="card-text">An awesome project</p>  
                            <a href="#" class="stretched-link"></a> 
                        </div>  
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border-light">  
                        <img class="card-img-top" alt="Card header image" src="http://localhost/abullio_media/research.jpg"
                            style="width: 100%;
                            height: 20vw;
                            object-fit: cover;">  
                        <div class="card-body">  
                            <h5 class="card-title">Project 4</h5>  
                            <p class="card-text">An awesome project</p>  
                            <a href="#" class="stretched-link"></a> 
                        </div>  
                    </div>
                </div>       
            </div>
            <!-- end deck -->

            <!-- bullio_recent -->
            <div class="row">  
                <div class="col">
                    <div class="card border-light"> 
                        <img class="card-img-top" alt="Card header image" 
                        src="https://images.unsplash.com/photo-1465147836063-7ca3784f01af?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ"
                        style="width: 100%;
                        height: 20vw;
                        object-fit: cover;"
                        >  
                        <div class="card-body">  
                            <h5 class="card-title">Progettare e realizzare una Open Innovation Farm</h5>  
                            <p class="card-text">Abilitare il processo di Open Innovation coinvolgendo tutti gli attori di know-how, abilità, usabilità e fattibilità.</p>  
                            <a href="#" class="stretched-link"></a> 
                        </div>  
                    </div>
                </div>
            </div>
            <!-- end recent -->

            <!-- bullio_bottom_brand -->
            <div class="row">
                <div class="col">
                    <div class="card border-light"> 
                        <div class="container-fluid p-0">
                            <div class="row no-gutters">
                                <div class="col-md-6 col-lg-8">
                                    <img class="card-img-top" alt="Card header image" 
                                    src="http://localhost/abullio_media/condotta_forzata.jpg"
                                    style="width: 100%;
                                    height: 20vw;
                                    object-fit: cover;"
                                    >
                                </div>
                                <div class="col">
                                    <div class="card-body bg-light">  
                                        <h5 class="card-title">L'associazione Erminio Bullio</h5>  
                                        <p class="card-text">Associarsi per darvi e darci la possibilità di farvi riflettere su ciò  che vorreste sapere o sui progetti che intendete realizzare.</p> 
                                        <a href="#" class="stretched-link"></a> 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end bottom_brand -->

            <!-- bullio_bottom_nav -->
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center"
                    style="font-size: 0.85rem;">
                        <ul class="navbar-nav pt-2">
                            <li class="nav-item">
                                <a class="nav-link" href="//codeply.com">Codeply</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </nav>
                 </div>
            </div>
            <!-- end bottom_nav -->
        </div>
        <!-- end content -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>